{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container mt-5 d-flex justify-content-end">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn btn-info" disabled></button>
        <button type="button" class="btn btn-info" disabled></button>

        <div class="btn-group " role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                MyAccount
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <li><a class="dropdown-item" href="">Register</a></li>
                <li><a class="dropdown-item" href="">Login</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container mb-5">
    <div class="border-start border-end border-danger bg-light border-5">
        <h4 class="py-4 px-4 text-success">BECOME AN OFFICIAL MEMBER</h4>
    </div>
</div>

<section style="font-family: sans-serif">
    <div class="container">
        <div class="py-4 border-bottom border-2">
            <h2>MUSCN OFFICIAL MEMBERSHIP FOR 2022/2023 SEASON NOW OPEN</h2>
        </div>
        <div class="text-danger py-4" style="font-family: sans-serif">
            <h3>NOTE: The MUSCN Membership Card will be given to the member via e-mail address provide in digital
                format</h3>
        </div>
        <div class="row">
            <div class="col-md-4 mt-4">
                <div class="card">
                    <h5 class="card-header text-success">MUSCN VIP MEMBERSHIP 2022/2023</h5>
                    <div class="card-body">
                        <img src="{% static 'assets/img/musc1.jpg' %}" class="card-img-top mb-3" alt="...">
                        <p class="card-text">$200</p>
                        <a href="vip_membership" class="btn btn-outline-success">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-4">
                <div class="card">
                    <h5 class="card-header text-success">MUSCN STANDARD MEMBERSHIP 2022/2023</h5>
                    <div class="card-body">
                        <img src="{% static 'assets/img/musc1.jpg' %}" class="card-img-top mb-3" alt="...">
                        <p class="card-text">$200</p>
                        <a href="#" class="btn btn-outline-success">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-4">
                <div class="card">
                    <h5 class="card-header text-success">MUSCN REGULAR MEMBERSHIP 2022/2023</h5>
                    <div class="card-body">
                        <img src="{% static 'assets/img/musc1.jpg' %}" class="card-img-top mb-3" alt="...">
                        <p class="card-text">$200</p>
                        <a href="#" class="btn btn-outline-success">Go somewhere</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="border-2 border-bottom py-5 "></div>
        <div class="py-4">
            <h3>Quick Note:</h3>
            <p>You can also visit <span><a class="text-decoration-nonw text-danger"
                                           href="https://tickets.manutd.com/memberships">manutd.com</a></span> to
                purchased your membership but it is important to note that you will still need to contact us after the
                purchased.</p>
            <h6>It's different price for the age[under16 & over65]</h6>
            <h5>And Membership expire at the end of every season</h5>
        </div>
        <div class="border-top border-2 pt-2" style="font-family: sans-serif">
            <h3>OFFICIAL MEMBERSHIP BENEFITS [VIP, STANDARD]</h3>
        </div>

        <div class="border-bottom border-2 pb-2">
            <ul>
                <li>Exclusive Membership Pack From Old Trafford.(28days Max)</li>
                <li>Guaranteed tickets to watch Premier League games at Old Trafford!</li>
                <li>Official Membership magazines and monthly e-newsletters</li>
                <li>10% off Discount at the Megastore and <span><a class="text-decoration-none text-danger"
                                                                   href="https://store.manutd.com/en/?_s=bm-fi-psc-mufc-shopnav">United Direct</a></span>
                </li>
                <li>50% off Discount Museum & Tour Tickets</li>
                <li>10% off Discount Red Café</li>
                <li>5% off Discount on MUSCN Store</li>
                <li>And Alots More</li>
            </ul>
            <h6>More local benefits will be added as the season progresses.</h6>
        </div>

        <div class="pt-2">
            <h3>REGULAR MEMBERSHIP BENEFITS [REGULAR]</h3>
        </div>

        <div class="border-bottom border-2 pb-2">
            <ul>
                <li>MUSCN Digital Membership Card</li>
                <li>Official Membership magazines and monthly e-newsletters</li>
                <li>5% off Discount on MUSCN Store</li>
                <li>Access To Club Events</li>
                <li>Access To Club Raffle Draw</li>
                <li>And Alots More</li>
            </ul>
            <h6>More local benefits will be added as the season progresses.</h6>
        </div>
    </div>
</section>
{% endblock %}