{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="bg-success text-white d-flex justify-content-center align-items-center" style="height: 300px; font-family: Fjalla One;">
    <h4>Our Mission</h4>
</section>

<section style="font-family: sans-serif">
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card mb-3 bg-light" style="max-width: 900px;">
                    <div class="row g-0 d-flex align-items-center">
                        <div class="col-md-6">
                            <img src="{% static 'assets/img/cart/frontcopy.jpg' %}" class="img-fluid rounded-start" alt="picture">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title text-danger">Club Mission</h5>
                                <p class="card-text">Our mission is to represent the interest of passionate Manchester United fan who are loyal and continue to support the success of our team, protect and maintain the tradition and history of our darling club and also to united all United fans under one umbrella.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card mb-3 bg-light" style="max-width: 900px;">
                    <div class="row g-0 d-flex align-items-start justify-content-start">
                        <div class="col-md-6">
                            <img src="{% static 'assets/img/cart/cropcopy.jpg' %}" class="img-fluid rounded-start" alt="picture">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title text-danger">Our aim and Objective</h5>
                                <p class="card-text">The main aim of establishing Manchester United Supporters Club in Nigeria is to increase the interests in supporting Manchester United Football Club and when time permits to visit Old Trafford for live matches and other venues</p>
                                <h5 class="card-title text-danger">And our objectives are</h5>
                                <ul>
                                    <li>To represent the views of the members directly to the football club</li>
                                    <li>To encourage social activities for members and supporters</li>
                                    <li>To assist members with travel and tickets arrangements to games at the football club</li>
                                    <li>To have a  club house and venue to watch all Manchester United games where everyone is welcome</li>
                                    <li>To help those who have never experienced a game at old Trafford with a chance to apply for tickets and travel with a group</li>
                                    <li>Support and bring the UNITED fans community together locally, nationally and internationally</li>
                                    <li>Provide regular news, information and updates through our website and other social media</li>
                                    <li>Provide or facilitate services and products to enhance United experience</li>
                                    <li>Organize and facilitate events and meetings to bring United supporters together</li>
                                    <li>Promoting and supporting projects in the local community</li>
                                    <li>Link and collaborate with fanzines and other fan group</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}