{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="my-5" style="font-family: sans-serif">
<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="card border-success bg-light shadow mb-3" style="max-width: 1000px;">
      <div class="card-header text-danger fw-bold"><h4>About MUSCN</h4></div>
      <div class="card-body">
        <h5 class="card-title text-danger">Adebayo Abdulrauf [Scofield]</h5>
        <p class="card-text">"I'm a die hard united fan and i have been supporting the club since 2006"</p>
        <p class="card-text">"The Idea came in 2019 and i wrote to the manchester united they were happy and very much interested in having an official supporters' in nigeria, I share with my fellow passionate fans friends and we came together to form a team reached out to like-minded Manchester United supporters"</p>
        <p class="card-text">"I will to use this medium to thank everyone for their effort, support and contribution to MUSCN in anyway, big or small. You helped the club achieve many goals and made it what it is today"</p>
        <p class="card-text">"I hope the membership continues to grow and most importantly able to impact lives in local community, The more diverse & united we are, the better placed we will be to represent our supporters"</p>
      </div>
    </div>
  </div>
</div>
</section>
{% endblock content %}